profile{
    /*max-width: 20%;*/
    border-radius: 25%;
}
img{
    margin-top: 4em;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-right: 2em;
    margin-left: 2em;
}
h1{
    display: inline-block;
    color: rgb(45, 241, 19);
    font-size: 4em;
}
.para{
    font-size: 2em;
}